{% extends 'base.html' %}

{% load static %}
{% block title %}
    Internship application
{% endblock title %}



{% block content %}
<p class="jumbotron container mt-3">
A web-based system has been developed to provide a computerized solution for 
managing and coordinating internship programs in an educational institution. 
The WICS system will allow students to pre-register the information about the host 
organization that they would like to apply for attachment program and also check their 
application status online instead of going to the department. The coordinator will also be 
able to manage and monitor the application process that has been done by students. The 
system also has online system assessment for industrial supervisor to evaluate the student.
This system is developed with the intension of providing an interactive tool for the 
faculty and students to communicate with each other whenever and wherever they want to 
and make information easily accessible by the coordinator, supervisors and the students.
</p>
{% endblock %}