{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title%} {%endblock %} </title>
    <link rel="stylesheet" href="{%  static 'bootstrap-4.3.1\css\bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{%  static 'bootstrap-4.0.0\css\bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{%  static 'Font-Awesome-master\css\font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%  static 'main.css' %}">

    <script src="{%  static 'bootstrap-4.3.1\js\bootstrap.min.js' %}"></script>
    <!-- <script src="{%  static 'bootstrap-4.4.0\js\bootstrap.min.js' %}"></script> -->
    <script src="{%  static 'jquery-3.3.1.min.js' %}"></script>
</head>
<body>
    <header>
		<img src=" {% static 'images/logo-2.png' %}" alt="FAMOS"> 
		<p><em>The ultimate internship manager</em></p>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
		<div class="navbar-header">
			<!--collapsable navbar-->
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a href="{% url 'index' %}" class="navbar-brand" style="color:#ffffff;">
				FAMOS
			</a>
		</div>
		<div class="collapse navbar-collapse " id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a href = "{% url 'register' %}" class="nav-link">Register</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'about' %} " class="nav-link">About us</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">
						Contact us
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
					<a href="{% url 'help' %}" class="nav-link">
						Help
					</a>
				</li>
                <li class="nav-item">
					<a href="{% url 'login' %}" class="nav-link">
						Login
					</a>
				</li>
			</ul>
		</div>
    </nav>
   <div class="" id="main-content">
		{% block content %}
	   
		{% endblock content %}
   </div>

	   
    <footer>
        <h5 class="text-center">copyright &#x00A9; 2019</h5>
    </footer>
</body>
</html>