{% extends 'base.html' %}

{% load static %}


{% block content %}

{% if messages %}
    <ul class="messages list-unstyled mt-2">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}

<div class="card mt-3 col-md-6 offset-md-3">
    <!-- <div class="card-header text-center">
        Attachment application
    </div> -->
    <div class="row no-gutters">
        <div class="col-md-4 mb-auto mt-auto" id="">
            <img src="{% static 'images/logo.png' %}" alt="Internship system"
                height="180" class="img-responsive card-img" style="margin-top: 50px;">
        </div>
        <div class="card-body col-md-8" style="background:  rgba(153, 204, 255,0.15);">
            <form action="" method="post" id="form">
                {% csrf_token %}
                {% block formFields %}

            
                {% endblock formFields %}           
            </form>
        </div>
    </div>
</div>
<!-- <div class="row col-lg-6 col-md-6 col-lg-offset-3" id="login-container">
    <div class="col-lg-5" id="login-image">
        <img src="{% static 'images/logo.png' %}" alt="Internship system">
    </div>
    <form action="" method="post" class="col-lg-7 col-md-7" >
      {% csrf_token %}
      
      {% comment %}
        {% block formFields %}

                
        {% endblock formFields %}          
      {% endcomment %}
         
    </form>
  </div> -->
{% endblock content %}
    