{% extends 'base.html' %}

{% load static %}
{% block title %}
    Internship application
{% endblock title %}



{% block content %}

<ol class="">
    <li>
        <h4>What are the requirements for creating an account?</h4>
        For you to create an account you need to be a student at the University of Eldoret
    </li>
    <li>
        <h4>What details are requied for creating an account?</h4>
        <p>You will be required to provide a working email address,
            admission number or staff number and a password
        </p>
    </li>
    <li>
        <h4>Who is the coordinator?</h4>
        <p>
            The coordinator is responsible for managing and coordinating the attachmen process 
            for students in a given department
        </p>
    </li>
</ol>
{% endblock %}