{% extends 'base.html' %}

{% load static %}

{% block title %}
    Internship system
{% endblock title %}
    
{%  block content %}
    <div class="content row mt-5" id="coordinator">
            <div class="col-md-4">
                <div class="user">
                    <img src=" {% static 'images/coordinator.png' %}" alt="Coordinator" class="img-responsive">
                    <h3  class="text-center">
                        <a href="{% url 'login' %}"> Coordinator</a>
                    </h3>
                </div>
            </div>
            <div class="col-md-4 " id="student">
                <div class="user">
                    <img src="{% static 'images/student.png' %}" alt="Student" class="img-responsive ml-5">
                    <h3 href="#"  class="text-center ml-3">
                        <a href="{% url 'login' %}"> Student</a>
                    </h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" id="supervisor">
                <div class="user">
                    <img src=" {% static 'images/supervisor.png' %}" alt="supervisor" class="img-responsive ml-5">
                    <h3 href="#"  class="text-center">
                        <a href="{% url 'login' %}"> Supervisor</a>
                    </h3>
                </div>
            </div>
        </div>
    {% endblock content %}
