{% extends 'form.html' %}

{% load  static %}


{% block title %}
    Login
{% endblock title %}
    

{% block formFields %}
    <h3 class="text-center">
        <img src="{% static 'images/lock.png' %}" alt="" width="35" height="20">
        Login
    </h3>
    {% if errors %}
        <p style="color: #a94442;">{{ errors }}</p>
    {% endif %}
    {% for field in form %}
        <div class="form-group 
        {% if errors %}
            has-error has-feedback
        {% endif %}
            ">
            <label class="control-label col-lg-12">{{ field.label }}</label>
            {{ field }}
            
        </div><br>
    {% endfor %}
    <div class="col-lg-12 col-md-12"></div><br>
    <div class="form-group" >
        <button class="rounded-btn col-lg-6 col-md-6 col-lg-offset-3" type="submit" style="margin-top: 10px;">
            <i class="fa fa-lock"></i>
            Login
        </button>
    </div>  
    <div class="col-lg-12 col-md-12">
        <p>Do not have an account? <a href="{% url 'register' %}">Register</a></p>
        <p> <a href="{% url 'register' %}">Forgot password</a></p>
    </div>
{% endblock formFields %}   
