{% extends 'form.html' %}

{% load  static %}


{% block title %}
    Login
{% endblock title %}
    

{% block formFields %}
    <h4 class="text-center">
        <img src="{% static 'images/lock.png' %}" alt="" width="35" height="20">
        Login
    </h4>
    {% if errors %}
        <p style="color: #a94442;">{{ errors }}</p>
    {% endif %}
    {% for field in form %}
        <div class="form-group 
        {% if errors %}
            has-error has-feedback
        {% endif %}
            ">
            <label class="">{{ field.label }}</label>
            {{ field }}
            
        </div>
    {% endfor %}
        <button class="rounded-btn col-md-6 offset-md-3" type="submit">
            <i class="fa fa-lock"></i>
            Login
        </button>
    <div class="col-lg-12 col-md-12">
        <p>Do not have an account? <a href="{% url 'register' %}">Register</a></p>
        <p> <a href="{% url 'register' %}">Forgot password</a></p>
    </div>
{% endblock formFields %}   
