{% extends 'form.html' %}

{% load static %}
{% block formFields %}
    <h3 class="text-center">
        <img src="{% static 'images/ico-students.png' %}" alt="" width="40" height="30">
        Register Account
    </h3>
    {% if errors %}
        <p style="color: #a94442;">{{ errors }}</p>
    {% endif %}
    {% for field in form %}
        <div class="form-group 
        {% if field.errors %}
            has-error has-feedback
        {% endif %}
            ">
            <label class="control-label col-lg-12">{{ field.label }}</label>
            {{ field }}
        </div><br>
    {% endfor %}
    <div class="col-lg-12 col-md-12"></div><br>
    <div class="" >
        <button class="rounded-btn col-lg-6 col-lg-offset-3" type="submit" style="">
            Register
        </button>
    </div>  
    <div class="col-lg-12 col-md-12">
        <p><a href="{% url 'login' %}" class="btn-link">Already have an account?</a></p>
    </div>
{% endblock formFields %}
    