{% extends 'supervisor/base.html' %}

{% load static %}

{% block title %}
    Supervisor 
{% endblock title %}
    

{% block content %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'supervisorIndex' %}">Home</a></li>
        <li class="active breadcrumb-item"><i class="fa fa-comment"></i></li>
    </ul>
    <button class="new-msg " id="application-btn"  data-toggle="modal" data-target="#new-msg-modal">
        <i class="fa fa-paper-plane-o"></i> New message
    </button>
    <div class="row">
        {% regroup messages by student as per_student %}
        {% for std in messages %}                
            <!-- <a href="{% url 'refreshChats' std.student.adm %}" class="msg-link col-md-12">
                <span class="sender ml-4">{{ std.student }}</span><br>
                <img src="{% static 'images/student.png' %}" alt="" class="img-responsive img-circle" height="30" width="30">
                <span>{{ std.message_content }} </span><br>
                <div class="time pull-right mb-0">{{ std.sent_on }}</div>
            </a> -->
        {% endfor %}
        
        
        {% for std in per_student %}                
            <a href="{% url 'refreshChatsSupervisor' std.grouper.adm %}" class="msg-link col-md-12">

                {% for adm in std.list %}
                    
                    {% if forloop.counter == 1 %}
                        <span class="sender ml-4">{{ adm.student }}</span>
                        <span class="pull-right badge badge-danger badge-pill mr-2">{{ forloop.revcounter }}</span><br>
                        <img src="{% static 'images/student.png' %}" alt="" class="img-responsive img-circle" height="30" width="30">
                        <span>{{ adm.message_content }} </span><br>
                        <div class="time pull-right mb-0">{{ adm.sent_on }}</div>    
                    {% endif %}
                {% endfor %}

            </a>
        {% endfor %}


    </div>

    <div class="modal fade" id="new-msg-modal" tabindex="-1" role="dialog" aria-labelledby="status" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header alert-dark text-center">
                    <h5 class="modal-title " id="exampleModalLabel">
                        <i class="fa fa-envelope text-danger"></i>
                        Send to</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select name="student" class="form-control col-md-6 offset-md-3" id="student-list">
                        <option value="">--Select student--</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <script>
    let students = '{{ students | safe }}';
    students = JSON.parse(students)
    $('.new-msg').click(function (e) { 
        e.preventDefault();
        let select ='<option value="">--Select student--</option>';
        for (const key in students) {
            let elem = students[key];
            if (students.hasOwnProperty(key)) {
                select +='<option value="'+key+'">'+elem.name+'</option>';
            }
        }
        select += '</select>';
        $('#student-list').html(select);
    });

    // open link for sending messages when one chooses a student/ recipient
    $("#student-list").change(function (e) { 
        // e.preventDefault();
        let student = $(this).val();
        if (student != null && student!= ''){
            let link = 'refresh-chats/'+student;
            location.href = link;
        }
    });
    </script>
{% endblock %}