{% extends 'coordinator/base.html' %}

{% load static %}


{% block title %}
    Applications
{% endblock title %}
    
{% block content %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item "><a href="{% url 'coordinatorIndex' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'notifications' %}">Notifications</a></li>
        <li class="breadcrumb-item active">Send notification</li>
    </ul>
    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group col-lg-6 offset-lg-3 ">
                <label for="{{ field.label }}">
                    <i class="fa fa-bell"></i>
                    {{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor%}
        <button type="submit" class="btn-outline-info col-lg-4 offset-lg-4">
            <i class="fa fa-send-o"></i>
            Send notification
        </button>
    </form>

{% endblock content %}
    