{% extends 'student/base.html' %}

{% load static %}


{% block title %}
    Application status
{% endblock title %}
    
{% block content %}
    <div>
        <!-- <table class="table  table-bordered table-striped table-hover" id="applications">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Organization</th>
                    <th>Branch</th>
                    <th>Status</th>
                </tr>
            </thead>
             <tbody> -->
             {% for application in applications%}
                <h4 class="text-center text-info">{{  application.organization }}</h4>
                <p>branch: {{ application.branch }}</p>
                <p>Status:
                    
                    {% if application.status == 'P' %}
                    <span class="badge badge-warning">Pending</span>
                 {% endif %}
                 {% if application.status == 'A' %}
                    <span class="badge badge-info">Awaiting</span>
                 {% endif %}
                 {% if application.status == 'F' %}
                    <span class="badge badge-danger">Failed</span>
                 {% endif %}
                 {% if application.status == 'S' %}
                    <span class="badge badge-success">Successfull</span>
                 {% endif %}
                    
                        
                </p>
                <hr>
            {% endfor %}
                 <tr>
                     <td data-title="">{{ forloop.counter }}</td>
                     <td data-title="">{{ application.organization }}</td>
                     <td data-title="">{{ application.branch }}</td>
                     <td data-title="">
                         <a class="badge badge-info">{{ application.status }}</a>
                    </td>
                 </tr>
             
             {% comment %}
             {% endfor%}
             {% endcomment %}
                  
             <!-- </tbody>
             <tfoot>
             </tfoot>
        </table> -->
    </div>
    <script>
    $(document).ready( function () {
        $('#applications').DataTable();
    });
</script>
{% endblock content %}
    