{% extends 'student/base.html' %}

{% load static %}


{% block title %}
    Apllication status
{% endblock title %}
    
{% block content %}
    <div class="table-responsive-vertical">
        <table class="table table-condensed table-bordered table-striped table-hover">
             <caption>Applications</caption>
             <thead>
             <tr>
                 <th>No.</th>
                 <th>Organization</th>
                 <th>Branch</th>
                 <th>Status</th>
             </tr>
             </thead>
             <tbody>
             {% for application in applications%}
                 <tr>
                     <td data-title="">{{ forloop.counter }}</td>
                     <td data-title="">{{ application.organization }}</td>
                     <td data-title="">{{ application.branch }}</td>
                     <td data-title="">
                         <button class="btn btn-warning">{{ application.status }}</button>
                    </td>
                 </tr>
             {% endfor%}
             </tbody>
             <tfoot>
             </tfoot>
        </table>
    </div>
{% endblock content %}
    