{% extends 'student/base.html' %}

{% load static %}
{% block title %}
    Internship application
{% endblock title %}

{% block content %}

    <div class="row">
        <a class="rounded-btn float-right justify-content-end" id="application-btn"
             href="{% url 'viewLogbook' %}">
            <i class="fa fa-eye"></i>
            View Logbook
        </a>
    </div>
    {% if success %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{ success }}
    </div>
    {% endif %}
    {% if failed %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{ failed }}
    </div>
    {% endif %}
    {% if entry_exists %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <em class="text-error">{{ entry_exists }}</em>
        </div>
    {% endif %}
    {% if messages %}
        
        {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <em class="text-error">{{ msg }}</em>
            </div>
        {% endfor %}
    {% endif %}
    {{ form.non_field_errors }}
    <div class="card mt-3">
        <div class="row no-gutters">
            <div class="col-lg-4" id="">
                <img src="{% static 'images/logo.png' %}" alt="Internship system"
                    height="180" style="margin-top: 50px" class="img-responsive card-img">
            </div>
            <div class="card-body " style="background:  rgba(153, 204, 255,0.15);">
                <h5 class="card-title text-center">Today's activities</h5>
                <form action="" method="post" class="" >
                    {% csrf_token %}
                    <button class="btn btn-outline-info" id="update">Update</button>
                    {% for field  in form %}
                    <div class="form-group
                    {% if field.errors %}
                        has-error has-feedback
                    {% endif %}
                    ">
                        <label for="{{ field.label }}" class="">{{ field.label }}</label>
                        {{ field }}
                        <span class="text-danger">{{ field.errors }}</span>
                    </div>       
                    {% endfor %}
                    <input type="hidden" name="id" value="{{ details.id }}">
                    <button type="submit" class="rounded-btn col-md-6 offset-md-3" 
                        style="border-radius: 25px;" id="submit">
                        <i class="fa fa-pencil"></i>
                        Record activities
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script>
        // fetch details about work done for that day if they already exists
    if("{{ work | safe }}")
        $('#work').val("{{ work.work_done }}");

    if("{{ details }}"){
        $('#work').val("{{ details.work_done | escapejs }}")
        $('#work').attr('readonly', true);
        $(':text').val("{{ details.week | safe }}")
        $(':text').attr('readonly', true);
        $('#submit').hide();
    }

    $('#update').click(function (e) { 
        e.preventDefault();
        $('#work').removeAttr('readonly');
        $(':text').removeAttr('readonly');
        $('#submit').show(600);
    });

    $('#week').change(function (e) { 
        e.preventDefault();
        let change = confirm('Are you sure you want to change the week?')
        if(!change){
            $(this).val('{{ details.week }}')
        }
    });
    </script>
{% endblock content %}
    