{% extends 'student/base.html' %}

{% load static %}
{% block title %}
    Final Report guidelines
{% endblock title %}
    

{% block content %}
    <div class="guidelines">
        <h2 class="text-center">THE FINAL REPORT</h2>
        This is the final report on the attachment. 
        Students should as much as possible submit preliminary reports to both supervisors 
        in order to get feed back on content and format and other elements such as grammar 
        and style.  These four are emphasized in assessment of the final report.
        Although supervisors may or may not adopt all the elements
        the general format below should be used for the final report:
        <ol>
            <li>Title</li>
            <li>Acknowledgements</li>
            <li>Company organization chart</li>
            <li>Department/sections you work in and your responsibilities</li>
            <li>Report on:
                <ol type="a">
                    <li>Attachment activities and experience</li>
                    <li>Interaction with staff in the company</li>
                    <li>Problems and opportunities</li>
                    <li>Computer Science/ICT/Informatics background</li>
                    <li>Your strength and weakness</li>
                </ol>
            </li>
            <li>Conclusions, Recommendations, and Future learning</li>
            <li>Appendices:
                <ul>
                    <li>Your work schedule</li>
                    <li>Correspondence</li>
                    <li>Samples of work done.</li>
                </ul>
            </li>
        </ol>
    </div>
{% endblock content %}
    